* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display:  block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body{
  font-family: 'Raleway';
  color: white;
}

h1,h2,h3,h4,p{
  margin: 10px;
}

ul {
  /* font-size:var(--fontsize-nav) ; */
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

a
{
  text-decoration: none;
  color: white;
}

/*Background*/
.App
{
  display: flex; 
  width: 100vw;
  height: 100vh;
  background-image: url('./img/blur1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* For desktop: */

.col-nav {
  width: 25vw;
  padding: 5px 5px 5px 5px ;
  background-image: url('./img/blur2.png');
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-nav-item li {
  display: block;
  margin-right: 100vw;
}

.col-social {
  margin-left: 22vw;
  bottom: 60px;
  font-size: 25px;
  color: #9a9b9c;
} 

.col-social i
{
  
  padding-left:30px;
  padding-right:30px;
  font-size: 25px;
  color: #9a9b9c;
}

.col-social i:hover
{
  color: #ffffff;
}

.typingeffect
{ 
  text-align: center;
  margin-left: 21.5vw;
  /* position: center;
  margin-left: 25vw;
  width: 50vw; */
  font-size: 40px;
  color: white;
}

.profilepic
{
  position: relative;
  margin-top: 10vh;
  margin-left: 25vw;
  border-radius: 50%;
  border: solid grey;
  width: 400px;
}








/*End of homepage styling*/
/*Beginning of subpage styling*/

.subtopic
{
  margin:10px 10px 30px 10px !important;
}

.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}
















/*Styles commented out may have been defaults*/
/* @media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: px;
    background: rgb(238,103,143);
    background: linear-gradient(90deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
} */

/*Styles commented out may have been default*/
/* @media only screen and (max-height: 569px) {
.social
  {
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 5px;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
} */










/* @media only screen and (max-height: 530px) {
  .typingeffect {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  }
}

@media only screen and (max-height: 490px) {
  .typingeffect {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  }
} */


/* @media only screen and (max-height: 750px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 300px;
  margin: 30px;
  }
}

@media only screen and (max-height: 630px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 200px;
  margin: 30px;
  }
}

@media only screen and (max-height: 530px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 150px;
  margin: 30px;
  }
}

@media only screen and (max-height: 430px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 150px;
  margin: 30px;
  }
} */

